<nav class="navbar navbar-expand-lg">
    <div class="row back" >
        <input type="image" src="https://img.icons8.com/fluent/48/000000/close-window.png" (click)="gotoInicioSesion()"/>
    </div>
  </nav>
<div class="container-fluid principal">
    <div class="jumbotron textoCentrado">
        <div class="container">
          <h1 class="display-4">XTECDigital para profesores</h1>
          <p class="lead">Visualiza tus cursos, organiza tus carpetas, asigna evaluaciones y envía noticias a tus grupos</p>
        </div>
    </div> 
    <div class="row cursosTitulo">
        <div class="col-12">
            <h2>Cursos</h2>
        </div>
    </div>
    <div class="row periodo" *ngFor="let periodo of listaPeriodos">
        <div class="col-12">
            <h3>{{periodo.anio}} {{periodo.periodo}}</h3>
            <div class="list-group">
                <div *ngFor="let grupo of periodo.grupos">
                    <a (click)="gotoGrupo(grupo, periodo)" class="list-group-item list-group-item-action listaCursos" >{{grupo.nombre}}</a>
                </div>
            </div>
        </div>
    </div> 
</div>