<nav class="navbar navbar-expand-lg fixed-top">
    <div class="row back" (click)="gotoInicioSesion()">
        <img src="https://img.icons8.com/fluent/48/000000/close-window.png"/>
    </div>
  </nav>
<div class="container-fluid principal">
    <div class="jumbotron textoCentrado">
        <div class="container">
          <h1 class="display-4">XTECDigital para profesores</h1>
          <p class="lead">Visualiza tus cursos, organiza tus carpetas, asigna evaluaciones y envía noticias a tus grupos</p>
        </div>
    </div> 
    <div class="row cursosTitulo">
        <div class="col-12">
            <h2>Cursos</h2>
        </div>
    </div>
    <div class="row periodo" *ngFor="let periodo of [1]">
        <div class="col-12">
            <h3>Semestre 2 2020</h3>
            <div class="list-group">
                <a href="/ProfesorGrupo/Documentos" class="list-group-item list-group-item-action listaCursos">Bases de datos grupo 1</a>
                <a href="/ProfesorGrupo/Documentos" class="list-group-item list-group-item-action listaCursos">Circuitos Eléctricos grupo 2</a>
                <a href="/ProfesorGrupo/Documentos" class="list-group-item list-group-item-action listaCursos">Cálculo diferencial e integral grupo 8</a>
                <a href="/ProfesorGrupo/Documentos" class="list-group-item list-group-item-action listaCursos">Señales y sistemas grupo 6</a>
                <a href="/ProfesorGrupo/Documentos" class="list-group-item list-group-item-action listaCursos">Proyecto final de graduación grupo 1</a>
            </div>
        </div>
    </div> 
</div>