.rubrosContenedor{
    padding-top: 60px;
}
.controles{
    background: #bbe9df;
    padding-top: 20px;
    padding-bottom: 20px;
}
.tarjetaContenedor{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
}


.cabecera{
    background: #f8d9a0;
    font-size: 24px;
}
.cuerpo{
    background: #0357d4;
}

.pie{
    background: #f8d9a0; 
}

.botonGuardar{
    padding-top: 20px;
    padding-bottom: 40px;
}