.rubrosContenedor{
    padding-top: 60px;
}
.controles{
    padding-top: 20px;
    padding-bottom: 20px;
}
.tarjetaContenedor{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
}


.cabecera{
    background: #ffac12;
    font-size: 24px;
}


.botonGuardar{
    padding-top: 20px;
    padding-bottom: 40px;
}

.input{
    text-align: center;
    border-radius: 20px;
}