.entregables{
    padding-top: 60px;
}

.cabecera1{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;

}

.titulo{
    padding-top: 20px;
    padding-bottom: 10px;
}

.cuerpoEntregable{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px; 
}

.observaciones{
    padding-top: 20px;
    padding-bottom: 10px;
}

.retroalimentación{
    padding-top: 20px;
    padding-bottom: 10px;
}

.calificacion{
    padding-top: 20px;
    padding-bottom: 10px;
}

textarea {
    resize: none;
  }

.input{
    border-radius: 20px; 
    text-align: center;
}