.archivos{
    padding-top: 60px;

}

.archivo{
    padding-top: 20px;
    border: 1px solid black;
    padding-bottom: 20px;
    color: #ffffff;
    font-size: 18px;
}
.archivo:hover {
    background: #b8860b;
}

.nuevoArchivo{
    padding-top: 20px;  
    padding-bottom: 20px;
    
}

.textoFinal{
    text-align: right;
}

.cabecera{
    color:  #ffffff;
    font-size: 18px;
    padding-bottom: 20px;
}

.inputFont{
    color: #ffff00;
}


