<div class="container-fluid principal">
    <form #noticiaForm="ngForm" novalidate>
        <div class="row cabecera">
            <div class="col-11 align-self-center text-start">
                Crear nueva noticia
            </div>
            <div class="col-1 align-self-center text-center" >
                <input type="image" src="https://img.icons8.com/fluent/48/000000/close-window.png" (click)="cerrar()"/>
            </div>
        </div>
        <div class="row titulo">
            <div class="col-12 aligns-self-center text-center">
                <strong><h4>Titulo de la noticia</h4></strong> 
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 align-self-center text-center">
                <input type="text" class="form-control input" id="titulo" placeholder="Titulo" name="tituloNoticia"  required [(ngModel)]="noticia.titulo">
            </div>
        </div>
        <div class="row mensaje">
            <div class="col-12 align-self-center text-center">
                <strong><h4>Mensaje</h4></strong> 
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 align-self-center text-center">
                <div class="form-group">
                    <textarea class="form-control input" id="mensaje" rows="3" name="mensajeN" required [(ngModel)]="noticia.mensaje"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center boton">
            <div class="col-3 align-self-center text-center">
                <button  [disabled]="noticiaForm.form.invalid" type="button" class="btn btn-success btn-block input" (click)="guardar()">Guardar</button>
            </div>
        </div>
    </form>
    </div>