<div class="container-fluid grupo">
    <form #loginForm="ngForm" novalidate>
    <div class="row nuevaCarpeta">
        <div class="col-1 align-self-center" >
            <input type="image" src="https://img.icons8.com/color/48/000000/add-folder.png" (click)="activarNC()"/>
        </div>
        <div class="col-2 align-self-center" *ngIf="nuevaCarpetaActivado">
            <input type="text" class="form-control input" name="nueva" id="nombreNuevaCarpeta"  placeholder="Nombre de la carpeta" [(ngModel)]="nuevaCarpeta">
        </div>
        <div class="col-1 align-self-center"  *ngIf="nuevaCarpetaActivado">
            <button type="button" class="btn btn-success input" (click)="agregarNuevaCarpeta()">agregar</button>
        </div>
    </div>
</form>
    <div class="row">
        <div class="col-12">
            <div class="list-group">
                <div class="row carpeta" *ngFor="let carpeta of [1,2,3,4,5,5,5,5]" (click)="gotoArchivos()">
                    <div class="col-1 align-self-center">
                        <img src="https://img.icons8.com/color/48/000000/opened-folder.png"/>
                    </div>
                    <div class="col-6 align-self-center">
                     Nombre Carpeta
                    </div>
                    <div class="col-5 align-self-center textoFinal" *ngIf="!carpeta.protegida" (click)="eliminarCarpeta(carpeta)">
                        <input type="image" src="https://img.icons8.com/ultraviolet/40/000000/trash.png" (click)="activarNC()"/>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>