.textoFinal{
    text-align: right;
}

.carpeta{
    background: #2f4f4f;
    padding-top: 20px;
    border: 1px solid black;
    padding-bottom: 20px;
    color: #ffffff;
    font-size: 18px;
}

.grupo{
    padding-top: 60px;
    background: #2f4f4f; 
}
.carpeta:hover {
    background: #b8860b;
}

.nuevaCarpeta{
    padding-top: 20px;  
    padding-bottom: 20px;
    
}
