<div class="modal-dialog text-center cont2"> 
  <div class="col-sm-8 main-section"> 
    <div class="modal-content">
    	<h3>XTECDigital</h3>
      
        	<form 
              
              #f="ngForm">
            <div class="form-group " id="user-group">
              <input class="form-control inputred" type="number" required #usuario
               placeholder="Cédula" name="usuario" ngModel />
               <small class="text-danger" *ngIf="invalid">Cédula válida requerida</small>
            </div>
      
            <div class="form-group" id="contrasena-group">
              <input class="form-control inputred" type="password" required #contrasena 
              placeholder="Contraseña" name="contrasena" ngModel />
              <small class="text-danger" *ngIf="invalid" >Contraseña es requerida</small>
            </div>
      
            <button [disabled]="f.invalid"  type="button"  mat-button type="submit" class="btn btn-primary" (click)="ingresar(usuario.value,contrasena.value)"><i class="fas fa-sign-in-alt"></i>  Ingresar</button>
            <div class="row justify-content-center">
              <a class="nav-link" (click)="gotoProfesor()">Profesores</a>            
            </div>
        </form>
      
      </div>
    </div>
</div>
