.principal{
  padding-top: 60px;  
}

.titulo{
    padding-top: 20px;  
    color: white;
}

.carta{
    padding-top: 30px; 
}

.fecha{
    padding-top: 40px;
}

.autor{
    padding-top: 40px;
}

.text{
    font-size: 20px;
}