.mat-expansion-panel {
    width: 250px !important;
    background-color: white;
    color: black;
    min-height: 50px;
 


}
.p{
    text-align: left;	
}
.row{
	width: 100%;
	display: flex;
	justify-content:space-around;
	flex-direction: row;
	margin-left: 25px;
	align-items: center;
	margin-top: 10px;
}
.acc{
	margin-left: 20px;
}

.mat-accordion{
	margin-top: 10px;

}

.button{
	align-self: center;
	margin-top: 10px;
}
.inputred {
  border-radius: 5px;
  border: 1px solid blue ;
  margin-left: 5px;
  background-color: white;
  margin-top: 10px;
}

.but{
	margin-left: 10px;
}
.img{
	height:15px;
	margin-right: 10px;

}

.button1{
	height: 50px;
	font-size: 25px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	margin-top: 10px;
}

