.principal{
    padding-top: 60px;
}

.titulo{
    color: #ffffff;
    padding-top: 20px; 
    padding-bottom: 20px; 
}

.carta{
    padding-top: 30px; 
}

.cFechaHora{
    padding-top: 20px; 
}

.cDocumento{
    padding-top: 20px; 
}

.cParticipacion{
    padding-top: 20px; 
}