
<nav class="navbar navbar-expand-lg fixed-top">
    
    <a class="navbar-brand" href="ProfesorGrupo/Documentos">Nombre del curso</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="ProfesorGrupo/Documentos">
              Documentos
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="ProfesorGrupo/Rubros">
                Rubros
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ProfesorGrupo/Evaluaciones">
              Evaluaciones
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="ProfesorGrupo/Noticias">
                Noticias
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Notas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                Estudiantes matriculados
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="ProfesorHome">
                Home
            </a>
        </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>
