.evaluaciones{
    padding-top: 60px
}

.rubro{
    background: #bbe9df;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.evaluacionContenedor{
    background: #bbbbbb;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
}

.fechaHora{
    padding-top: 10px;
    padding-bottom: 10px;
}

.fechaHoraCabecera{
    padding-top: 30px; 
}

.especificacionCabecera{
    padding-top: 30px;
    padding-bottom: 10px;
}

.cabeceraEvalacion{
    font-size: 20px;
    color: #400ff1;
}

.cabeceraPorcentaje{
    padding-top: 10px;
    padding-bottom: 10px;
}

.porcentajeLabel{
    font-size: 20px;
    color: #400ff1; 
}

.nombreEspecificacion{
    font-size: 18px;
    color: #400ff1; 
}

.participacionControles{
    padding-top: 30px;
    padding-bottom: 10px;
}